@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap');

$color-white: #ffffff;
$color-black: #000000;
$color-body-background: #d8dce2;
$color-main-background: #f5f6fa;
$color-primary: #5fa6f1;
$color-main-border: #e8e8e8;
$color-search-placeholder: #707070;
$color-main-time: #5a5a5a;
$color-main-weather-details: #959595;

$breakpoint-hero: 600px;

$mobile-padding-top: 27px;
$mobile-padding-left: 24px;

$desktop-padding-top: 33px;
$desktop-padding-left: 175px;
